.how-to-find__place-container {
	position: relative;
	margin: 0;
	overflow: hidden;
	border-radius: 60px;
	aspect-ratio: 1.13;
}

@media screen and (max-width: 480px) {
	.how-to-find__place-container {
		border-radius: 20px;
	}
}
