.footer__column-copyright {
	display: flex;
	flex-direction: column;
	max-width: 441px;
	margin: 0;
}

@media screen and (max-width: 920px) {
	.footer__column-copyright {
		align-items: center;
		max-width: 441px;
		margin: 80px auto 0;
		text-align: center;
	}
}

@media screen and (max-width: 480px) {
	.footer__column-copyright {
		max-width: 290px;
		margin-top: 57px;
		text-align: start;
	}
}
