.convenience-parents__list {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-auto-rows: 1fr;
	gap: 10px;
	max-width: 1440px;
	margin: 0 auto;
	padding-bottom: 182px;
}

@media (max-width: 1200px) {
	.convenience-parents__list {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 604px) {
	.convenience-parents__list {
		grid-template-columns: 1fr;
	}
}
