.faq-qst__question{
	position: relative;
	box-sizing: border-box;
	width: 100%;
	margin: 0;
	padding: 0 70px;
	color: rgba(37, 37, 37, 1);
	font-weight: 600;
	font-size: 24px;
	line-height: 29px;
	letter-spacing: -0.5px;
	text-align: left;
	font-feature-settings: 'pnum' on, 'lnum' on;
	word-wrap: break-word;
	background-color: transparent;
	border: 0;
}

.faq-qst__question::after {
	position: absolute;
	top: 5.5px;
	left: 6px;
	display: block;
	width: 0.17em;
	height: 0.7em;
	margin: 0;
	padding: 0;
	content: '';
	background-color: rgba(37, 37, 37, 1);
	border: none;
	border-radius: 20%;
	transform: scale(1.01);
	transition: transform 0.3s linear;
}

.faq-qst__question::before {
	position: absolute;
	top: 12px;
	left: 0;
	display: block;
	width: 0.7em;
	height: 0.17em;
	margin: 0;
	padding: 0;
	content: '';
	background-color: rgba(37, 37, 37, 1);
	border: none;
	border-radius: 20%;
	transform: scale(1.01);
	transition: transform 0.3s linear;
}

@media all and (max-width: 768px){
	.faq-qst__question{
		padding: 0 0 0 70px;
	}
}

@media all and (max-width: 650px){
	.faq-qst__question{
		padding: 0 0 0 50px;
	}
}

@media screen and (max-width: 520px) {
	.faq-qst__question{
		padding: 0 0 0 25px;
		font-size: 18px;
		line-height: 22px;
	}

	.faq-qst__question::after {
		top: 5px;
		left: 5.5px;
		width: 0.17em;
		height: 0.7em;
	}

	.faq-qst__question::before {
		top: 9.5px;
		width: 0.7em;
		height: 0.17em;
	}
}
