.faq-qst__question {
	display: grid;
	grid-template-columns: 12px 60px 1fr;
	grid-template-areas: 'icon . question';
	justify-content: flex-start;
	align-content: flex-start;
	width: 100%;
	margin: 0;
	padding: 30px 30px 34px;
	color: rgba(37, 37, 37, 1);
	font-weight: 600;
	font-size: 24px;
	line-height: 29px;
	letter-spacing: -0.5px;
	text-align: left;
	font-feature-settings: 'pnum' on, 'lnum' on;
	word-wrap: break-word;
	background-color: transparent;
	border: none;
}

.faq-qst__question:hover {
	cursor: pointer;
}

@media screen and (max-width: 520px) {
	.faq-qst__question {
		grid-template-columns: 8px 16px 1fr;
		padding: 15px 15px 15px 16px;
		font-size: 18px;
		line-height: 22px;
	}
}
