.our-team{
	padding: 120px;
	box-sizing: border-box;
	max-width: 1441px;
	width: 100%;
	max-height: 100%;
	background-color: #fff;
	border-top-left-radius: 60px;
  border-top-right-radius: 60px;
}


@media screen and (max-width: 768px) {
	.our-team {
		padding: 80px 75px;
		border-top-left-radius: 50px;
		border-top-right-radius: 50px;
	}
}

@media screen and (max-width: 480px) {
	.our-team {
		padding: 30px 15px;
		border-radius: 0;
	}
}
