.how-to-find__place {
	width: 595px;
	height: 526px;
	overflow: hidden;
	border-radius: 60px;
}

@media screen and (max-width: 768px) {
	.how-to-find__place {
		width: 594px;
		height: 524px;
		border-radius: 40px;
	}
}

@media screen and (max-width: 480px) {
	.how-to-find__place {
		width: 290px;
		height: 255px;
		border-radius: 30px;
	}
}
