@keyframes click {
	from {
		transform: rotateZ(0);
	}

	to {
		transform: rotateZ(90deg);
	}
}

.faq-qst__button {
	position: relative;
	display: block;
	width: 12px;
	height: 12px;
	margin: 0;
	padding: 0;
	background-color: transparent;
	border: none;
	transition: transform 0.3s 0.3s linear;
}

.faq-qst__button::after {
	position: absolute;
	top: 0;
	left: 50%;
	display: block;
	width: 20%;
	height: 100%;
	margin: 0;
	padding: 0;
	content: '';
	background-color: rgba(37, 37, 37, 1);
	border: none;
	border-radius: 20%;
	transform: translateX(-50%);
}

.faq-qst__button::before {
	position: absolute;
	top: 40%;
	left: 0;
	display: block;
	width: 100%;
	height: 20%;
	margin: 0;
	padding: 0;
	content: '';
	background-color: rgba(37, 37, 37, 1);
	border: none;
	border-radius: 20%;
	transition: transform 0.3s 0.3s linear;
}

@media screen and (max-width: 480px) {
	.faq-qst__button{
		width: 10px;
		height: 10px;
	}
}
