.support-us-card__btn{
  border: 0;
  max-width: 100%;
  min-width: max(max-content, 100%);
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  font-feature-settings: 'pnum' on, 'lnum' on;
}

@media screen and (max-width: 480px) {
  .support-us-card__btn{
    font-size: 16px;
    line-height: 1.25;
  }
}
