.how-to-find__img-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 10px;
	margin: 60px 0 0;
}

@media screen and (max-width: 768px) {
	.how-to-find__img-container {
		flex-direction: column;
		margin-top: 80px;
	}
}


@media screen and (max-width: 480px) {
	.how-to-find__img-container {
		margin-top: 30px;
	}
}
