.footer__semibold-text {
	margin: 0 0 15px;
	font-weight: 600;
	font-size: 18px;
	line-height: 1.22;
	font-feature-settings: 'pnum' on, 'lnum' on;
}

.footer__semibold-text:nth-of-type(2n) {
	margin: 0;
}

.footer__semibold-text:nth-of-type(3n) {
	letter-spacing: -0.5px;
}

@media screen and (max-width: 768px) {
	.footer__semibold-text {
		text-align: center;
	}
}

@media screen and (max-width: 480px) {
	.footer__semibold-text {
		text-align: start;
	}
}
