.footer__semibold-text {
	margin: 0;
	font-weight: 600;
	font-size: 18px;
	line-height: 1.22;
	font-feature-settings: 'pnum' on, 'lnum' on;
}

@media screen and (max-width: 768px) {
	.footer__semibold-text {
		text-align: center;
	}
}

@media screen and (max-width: 520px) {
	.footer__semibold-text {
		text-align: start;
	}
}
