.horizontal-block_bg-type_competition {
	background: linear-gradient(43.92deg, rgba(0, 0, 0, 0.5) 39.83%, rgba(0, 0, 0, 0) 81.23%), url('../../../vendor/images/competition.png');
	background-size: cover;
}

@media screen and (max-width: 768px) {
	.horizontal-block_bg-type_competition {
		background-position: center;
	}
}
