.horizontal-block {
	margin: 120px 0 13px 0;
	display: flex;
	align-items: center;
	min-width: 1000px;
	max-height: 650px;
	height: calc(100vh - 110px);
	border-radius: 60px;
}

@media screen and (max-width: 768px) {
	.horizontal-block {
		justify-content: center;
		height: auto;
		max-height: auto;
		min-width: auto;
		min-height: 524px;
		max-width: 594px;
		width: 100%;
		margin: 0;
	}
}

@media screen and (max-width: 480px) {
	.horizontal-block {
		min-height: 400px;
		min-width: 300px;
	}
}
