.support-us__description{
  margin: 0 115px 40px 0;
  font-weight: 600;
  font-size: 36px;
  line-height: 1.22;
  letter-spacing: -1px;
  font-feature-settings: 'pnum' on, 'lnum' on;
}

@media screen and (max-width: 768px) {
  .support-us__description{
    margin: 0;
    font-size: 30px;
    line-height: 1.23;
    letter-spacing: -0.5px;
  }
}

@media screen and (max-width: 480px) {
  .support-us__description{
    font-size: 24px;
    line-height: 1.21;
  }
}
