.footer__column-support {
	display: flex;
	grid-area: 1 / 1 / 2 / 2;
	flex-direction: column;
	max-width: 272px;
	margin: 0;
}

@media screen and (max-width: 1159px) {
	.footer__column-support {
		margin: 0 auto;
	}
}

@media screen and (max-width: 480px) {
	.footer__column-support {
		max-width: 289px;
	}
}
