.horizontal-container {
	display: flex;
	flex-direction: row;
	gap: 40px;
	flex-wrap: nowrap;
	width: 405.9%;
	min-height: calc(100vh - 80px);
	overflow: hidden;
	background-color: #F5F5F5;
	justify-items: flex-start;
	padding-left: 120px;
	align-items: center;
}

@media screen and (max-width: 768px) {
	.horizontal-container {
		flex-direction: column;
		box-sizing: border-box;
		height: auto;
		width: 100%;
		padding: 80px 75px;
		gap: 10px;
	}
}

@media screen and (max-width: 480px) {
	.horizontal-container {
		width: 100%;
		padding: 30px 10px 45px;
	}
}
