.horizontal-container {
	width: 100%;
	background-color: #FFFFFF;
	overflow: hidden;
}

@media screen and (max-width: 768px) {
	.horizontal-container {
		box-sizing: border-box;
		padding: 80px 75px;
		overflow: visible;
	}
}

@media screen and (max-width: 480px) {
	.horizontal-container {
		padding: 30px 10px 45px;
	}
}
