.footer__columns{
	display: grid;
	justify-content: space-between;
	align-items: end;
	max-width: 1200px;
	margin: 0 auto;
}

@media screen and (max-width: 920px) {
	.footer__columns {
		display: block;
	}
}

@media screen and (max-width: 480px) {
	.footer__columns {
		padding: 20px 10px 80px;
	}
}
