.footer__columns{
	display: grid;
	justify-content: space-around;
	align-items: end;
	max-width: 1440px;
	margin: 0 auto;
	column-gap: 24.41%;
}

@media screen and (max-width: 768px) {
	.footer__columns {
		display: block;
	}
}
