.faq-qst__icon {
	display: block;
	min-width: 80px;
	min-height: 90px;
	margin: 0;
	padding: 0;
	color: rgba(37, 37, 37, 1);
	font-weight: 600;
	font-size: 24px;
	font-feature-settings: 'pnum' on, 'lnum' on;
	line-height: 29px;
	letter-spacing: -0.5px;
	text-align: center;
	background-color: transparent;
	border: none;
	border-radius: 60px;
}

.faq-qst__icon:hover {
	cursor: pointer;
}

@media screen and (max-width: 480px) {
	.faq-qst__icon{
		min-width: 42px;
		min-height: 52px;
		font-size: 18px;
		line-height: 22px;
		border-radius: 30px;
	}
}
