@keyframes click {
	from {
		transform: rotateZ(0);
	}

	to {
		transform: rotateZ(90deg);
	}
}

.faq-qst__icon {
	position: relative;
	display: block;
	grid-area: icon;
	width: 12px;
	height: 12px;
	margin: 9px 0 0;
	padding: 0;
	background-color: transparent;
	border: none;
	transition: transform 0.3s 0.3s linear;
}

.faq-qst__icon::after {
	position: absolute;
	top: 0;
	left: 5px;
	display: block;
	width: 2px;
	height: 12px;
	margin: 0;
	padding: 0;
	content: '';
	background-color: rgba(37, 37, 37, 1);
	border: none;
	border-radius: 20%;
}

.faq-qst__icon::before {
	position: absolute;
	top: 5px;
	left: 0;
	display: block;
	width: 12px;
	height: 2px;
	margin: 0;
	padding: 0;
	content: '';
	background-color: rgba(37, 37, 37, 1);
	border: none;
	border-radius: 20%;
	transition: transform 0.3s 0.3s linear;
}

@media screen and (max-width: 520px) {
	.faq-qst__icon{
		width: 8px;
		height: 8px;
		margin: 7px 0 0;
	}

	.faq-qst__icon::after {
		left: 3px;
		width: 2px;
		height: 8px;
	}

	.faq-qst__icon::before {
		top: 3px;
		width: 8px;
		height: 2px;
	}
}
