.horizontal-block__content {
	display: flex;
	flex-direction: column;
	gap: 40px;
	padding-left: 120px;
}

.horizontal-block:nth-of-type(1) .horizontal-block__content {
	max-width: 666px;
}

.horizontal-block:nth-of-type(2) .horizontal-block__content {
	max-width: 729px;
}

.horizontal-block:nth-of-type(3) .horizontal-block__content {
	max-width: 729px;
}

.horizontal-block:nth-of-type(4) .horizontal-block__content {
	max-width: 669px;
}

.horizontal-block:nth-of-type(5) .horizontal-block__content {
	max-width: 794px;
}

@media screen and (max-width: 768px) {
	.horizontal-block__content {
		align-items: center;
		padding: 0 35px;
	}
}

@media screen and (max-width: 480px) {
	.horizontal-block__content {
		gap: 15px;
		padding: 0 25px;
	}
}
