.horizontal-container__content {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-items: flex-start;
	align-items: center;
	gap: 40px;
	width: 5765px;
	min-height: calc(100vh + 80px);
	padding-left: 80px;
	overflow: hidden;
}

@media screen and (max-width: 768px) {
	.horizontal-container__content {
		flex-direction: column;
		gap: 10px;
		box-sizing: border-box;
		width: 100%;
		padding: 0;
		overflow: visible;
	}
}
