.horizontal-container__content {}

.horizontal-container__content {
	display: flex;
	flex-direction: row;
	gap: 40px;
	flex-wrap: nowrap;
	width: 5725px;
	/*405.9%;*/
	min-height: calc(100vh - 80px);
	overflow: hidden;
	justify-items: flex-start;
	padding-left: 120px;
	align-items: center;
}

@media screen and (max-width: 768px) {
	.horizontal-container__content {
		overflow: visible;
		padding: 0;
		flex-direction: column;
		box-sizing: border-box;
		height: auto;
		width: 100%;
		gap: 10px;
	}
}

@media screen and (max-width: 480px) {
	.horizontal-container__content {
		width: 100%;
	}
}
