.how-to-find__die{
	position: absolute;
	bottom: -25px;
	left: -415px;
	stroke: #ae46ff;
	stroke-width: 150px;
}

@media screen and (max-width: 520px) {
	.how-to-find__die {
		bottom: -20px;
		left: -415px;
		stroke-width: 100px;
	}
}

@media screen and (max-width: 480px) {
	.how-to-find__die {
		bottom: -30px;
		left: -462px;
		stroke-width: 80px;
	}
}
