.advantages__card-text {
	margin: 0;
	font-weight: 600;
	font-size: 24px;
	line-height: 29px;
	letter-spacing: -0.5px;
	font-feature-settings: 'pnum' on, 'lnum' on;
	white-space: pre-line;
}

@media screen and (max-width: 768px) {
	.advantages__card-text {
		text-align: center;
	}
}

@media screen and (max-width: 600px) {
	.advantages__card-text {
		font-size: 18px;
		line-height: 22px;
	}
}
